<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="geolocateAPI" value="b2552ba7ce8e438ebc19a0fc45c29397" /> 
    <add key="weatherAPI" value="802922ea1414497bc30fe3ba0c69c37c" />
  </appSettings>
</configuration>